description: "I didn't change the default description."
examples:
  - attributes: {}

  # Examples can consist of an attributes hash or a string of Slim markup:
  #- attributes:
  #    something: 'something'
  #- slim: |
  #    = ui_component('my_component', something: Something.new)
