.btn,
.btn-default {
  background-clip: padding-box;
  transition: background-color .1s ease-out, border-color .1s, color .1s;

  &:hover,
  &:hover:focus,
  &:active,
  &.active,
  &:active:focus,
  .open > &.dropdown-toggle {
    // scss-lint:disable ImportantRule
    outline: none !important;
    box-shadow: none;
    background-color: $brand-secondary;
    border-color: darken($brand-secondary, 5%);
    color: $white;
  }

  &:focus,
  &.focus,
  &:hover:active {
    // scss-lint:disable ImportantRule
    outline: none !important;
    box-shadow: none;
    background-color: $white;
    border-color: $brand-primary;
    color: $brand-primary;
  }
}

.btn[disabled] {
  color: $gray;
}
