%btn {
  background-clip: padding-box;
  transition: background-color .1s ease-out, border-color .1s, color .1s;

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active:focus,
  &:active.focus,
  &:active:hover,
  &:active.hover,
  &.active:focus,
  &.active.focus,
  .open > &.dropdown-toggle {
    // scss-lint:disable ImportantRule
    outline: none !important;
    box-shadow: none;
  }
}

.btn {
  @extend %btn;
}

%btn-default {

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  .open > &.dropdown-toggle {
    background-color: $btn-default-hover-bg;
    border-color: $btn-default-hover-border;
    color: $btn-default-hover-color;
  }

  &:active:focus,
  &:active.focus,
  &:active:hover,
  &:active.hover,
  &.active:focus,
  &.active.focus {
    background-color: $btn-default-hover-border;
    border-color: $btn-default-hover-border;
    color: $white;
  }
}

.btn-default {
  @extend %btn-default;
}

%btn-primary {

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  .open > &.dropdown-toggle {
    background-color: $btn-primary-hover-bg;
    border-color: $btn-primary-hover-border;
    color: $btn-primary-hover-color;
  }

  &:active:focus,
  &:active.focus,
  &:active:hover,
  &:active.hover,
  &.active:focus,
  &.active.focus {
    background-color: darken($btn-primary-hover-bg, 15%);
    border-color: $btn-primary-hover-border;
    color: $btn-primary-hover-color;
  }
}

.btn-primary {
  @extend %btn-primary;
}

%btn-disabled {
  border-color: rgba($gray, .3);
  color: $gray;
  background-color: rgba($gray-light, .3);

  &.active,
  &.active.focus,
  &.active:focus,
  &.focus,
  &.focus,
  &:active,
  &:active.focus,
  &:active:focus,
  &:active.hover,
  &:active:hover,
  &:focus,
  &:focus,
  &:hover {
    border-color: rgba($gray, .3);
    color: $gray;
    background-color: rgba($gray-light, .3);
  }
}

.btn[disabled],
.btn.disabled {
  @extend %btn-disabled;
}

.input-group-btn {
  font-size: $font-size-base;
}

// list-based button-groups -> ul.btn-group > li > a.btn.btn-default
// scss-lint:disable QualifyingElement
ul.btn-group {
  padding: 0;
  list-style: none;

  li {
    display: block;
    float: left;
    margin-left: -1px;

    .btn {
      border-radius: 0;
    }

    &:first-child {
      margin-left: 0;

      .btn {
        border-radius: $border-radius-base 0 0 $border-radius-base;
      }
    }

    &:last-child .btn {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }

  .active > .btn-default {
    @extend %btn-default.active;
  }

  .active > .btn-primary {
    @extend %btn-primary.active;
  }
}
