// scss-lint disabled, as these 'theme' styles need to directly override the date-selector vendor styles
// scss-lint:disable all
.applyBtn.btn.btn-small.btn-sm.btn-success {
  @extend .btn-primary;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  text-shadow: none;
}

.daterangepicker .ranges .input-mini {
  border-radius: $border-radius-base;
}

.daterangepicker .ranges li {
  margin-bottom: $padding-small-vertical;
  background: transparent;
  border: 1px solid transparent;
  color: $brand-primary;
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
}

//custom
.daterangepicker .ranges li:hover {
  background: transparent;
  border: 1px solid $brand-primary;
  color: $brand-primary;
}

// custom
.daterangepicker .ranges li.active {
  background: $brand-primary;
  border: 1px solid transparent;
  color: $white;
}

.daterangepicker .calendar-date {
  border-radius: $border-radius-base;
}


.daterangepicker {
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
}

.daterangepicker td, .daterangepicker th {
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
}

.daterangepicker td.in-range {
  background: lighten($brand-secondary, 33%);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.start-date {
  -webkit-border-radius: $border-radius-base 0 0 $border-radius-base;
  -moz-border-radius: $border-radius-base 0 0 $border-radius-base;
  border-radius: $border-radius-base 0 0 $border-radius-base;
}

.daterangepicker td.end-date {
  -webkit-border-radius: 0 $border-radius-base $border-radius-base 0;
  -moz-border-radius: 0 $border-radius-base $border-radius-base 0;
  border-radius: 0 $border-radius-base $border-radius-base 0;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
}

.daterangepicker td.today.active, .daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
}
// scss-lint:enable all
