.navbar {
  background-color: $white;
  border: 0;
  box-shadow: 0 2px 3px rgba($black, .2);

  .navbar-brand {
    background: url(image-path('logo.svg')) no-repeat $padding-base center;
    font-size: 16px;
    line-height: ($navbar-height - ($padding-small-vertical * 2));
    margin: 0;
    padding: $padding-small-vertical 0 $padding-small-vertical 50px;

    img {
      height: 100%;
    }

    .environment {
      font-style: italic;
      font-weight: normal;
    }

    .company-name {
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .icon-bar {
    background-color: $gray-light;
  }

  .nav > li {
    &.active > a {
      color: $brand-primary;
      font-family: $headings-font-family;
    }

    &.active > a:hover {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 3px rgba($black, .2);

    // submenu
    .dropdown:hover .dropdown-menu {
      display: block;
      top: -50%;
      left: 100%;
    }
  }
}

body {
  background-color: $body-bg;
  padding: $navbar-height 0 0;
}
