.navbar {

  .navbar-brand {
    padding-bottom: 5px;
    padding-top: 5px;

    img {
      height: 100%;
    }
  }

  .nav > li {

    &.active a,
    &.active a:hover {
      font-family: DINNextRoundedLTPro-Medium;
      text-transform: uppercase;
    }
  }
}

body {
  padding: $navbar-height 0 0;
}
