// form-group behaves like bootstrap's btn-group
.btn-toolbar .form-group {
  // scss-lint:disable PlaceholderInExtend
  @extend .btn-group;
  margin-bottom: 0;
}

.toolbar {
  // scss-lint:disable PlaceholderInExtend
  @extend .btn-toolbar;
  padding-top: $padding-base-vertical;
  margin: 0;

  ul,
  .pager {
    margin-top: 0;
    margin-bottom: 0;
  }

  // toolbar elements with margin-bottom
  // scss-lint:disable SelectorFormat
  .btn,
  .chosen-single,
  .control-label,
  .form-control,
  .Select,
  input,
  label {
    margin-bottom: $padding-base-vertical;
  }

  .chosen-container .chosen-drop {
    margin-top: -($padding-base-vertical + 1px);
  }

  // toolbar elements with margin-left
  .btn-group,
  .btn,
  .chosen-single,
  .form-control,
  .form-group {
    margin-left: $padding-small-horizontal;

    &:first-child {
      margin-left: 0;
    }

    > & {
      margin-left: 0;
    }
  }

  label {
    font-weight: normal;
    font-style: italic;
    font-size: .9em;
    margin-left: $padding-small-horizontal;

    &:first-child {
      margin-left: 0;
    }

    + .form-control,
    + .form-group,
    + .input-group,
    + input,
    + select {
      margin-left: 0;
    }
  }

  // React Select component
  // scss-lint:disable SelectorFormat
  .Select {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px;

    .Select-control,
    .Select-placeholder,
    .Select-input {
      line-height: 31px;
      height: 31px;
    }
  }

  .input-group .input-group-btn,
  .input-group .input-group-addon {
    @extend %toolbar-default-btn;

    &:first-child {
      margin-left: 0;
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }

    &:last-child {
      margin-left: 0;
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
}

.toolbar-default {
  background-color: $body-bg;
  border-bottom: 1px solid darken($body-bg, 3%);

  .toolbar-primary + & {
    border: 1px solid darken($body-bg, 3%);
    border-top: 0;
  }
}

.toolbar-primary {
  background-color: $toolbar-primary-bg;

  label {
    color: $white;
  }

  .form-control,
  .chosen-single {
    border-color: transparent;

    &:focus,
    &.focus,
    &:active,
    &.active,
    &:hover,
    &.hover {
      border-color: rgba($brand-primary, .6);
    }
  }

  %toolbar-default-btn {
    border-color: transparent;

    &:hover,
    &.hover,
    .open > &.dropdown-toggle {
      background-color: darken($brand-secondary, 5%);
      color: $white;
      border-color: darken($brand-secondary, 10%);

      svg {
        fill: $white;
      }
    }

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:active:focus,
    &:active.focus,
    &.active:focus,
    &.active.focus,
    &:active:hover,
    &.active:hover {
      background-color: darken($brand-secondary, 10%);
      color: $white;
      border-color: transparent;

      svg {
        fill: $white;
      }
    }
  }

  .btn {
    @extend %toolbar-default-btn;
  }

  .btn-default {
    color: $white;

    svg {
      fill: $white;
    }
  }

  .btn[disabled],
  .btn.disabled {
    background-color: transparent;
  }

  // TODO: is this needed?
  // btn-groups from lists
  .btn-group li {

    // > .btn {
    //   margin-bottom: 0;
    // }

    &.active > .btn {
      @extend %toolbar-default-btn.active;
    }

    &.active > .btn:focus,
    &.active > .btn.focus,
    &.active > .btn:hover {
      @extend %toolbar-default-btn.active.focus;
    }
  }
}
