// form-group behaves like bootstrap's btn-group
.btn-toolbar .form-group {
  // scss-lint:disable PlaceholderInExtend
  @extend .btn-group;
  margin-bottom: 0;
}

.toolbar {
  // scss-lint:disable PlaceholderInExtend
  @extend .btn-toolbar;
  padding-top: $padding-base-vertical;
  margin: 0;

  label {
    font-weight: normal;
    font-style: italic;
    font-size: .9em;
  }

  .btn-group,
  .form-group,
  [class*='col-'] > .btn,
  [class*='col-'] > .btn:first-child {
    margin-top: 0;
    margin-bottom: $padding-base-vertical;
  }

  .btn,
  .btn-group,
  .chosen-single,
  .form-control,
  .form-group {
    margin-left: $padding-small-horizontal;

    &:first-child {
      margin-left: 0;
    }
  }
}

.toolbar-default {
  background-color: $gray-lighter;
}

.toolbar-primary {
  background-color: $toolbar-primary-bg;

  label {
    color: $white;
  }

  .form-control,
  .chosen-single {
    border-color: transparent;

    &:focus,
    &.focus,
    &:active,
    &.active,
    &:hover,
    &.hover {
      border-color: rgba($brand-primary, .6);
    }
  }

  .btn {
    border-color: transparent;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover,
    .open > &.dropdown-toggle {
      background-color: darken($brand-secondary, 5%);
      color: $white;
      border-color: darken($brand-secondary, 10%);
    }

    &:active:focus,
    &:active.focus,
    &:active:hover,
    &:active.hover,
    &.active:focus,
    &.active.focus {
      background-color: darken($brand-secondary, 10%);
      color: $white;
      border-color: darken($brand-secondary, 10%);
    }
  }

  .btn-default {
    color: $white;
  }

  .btn[disabled],
  .btn.disabled {
    background-color: transparent;
  }
}

.nav-tabs {
  border-bottom-color: $body-bg;

  li {
    margin-bottom: 0;

    &.active a {
      background-color: $white;
    }
  }
}

.row > .nav-tabs {
  padding: 0 $padding-base;
}
