// variables

$brand-primary:   #ff5909;
$gray-darker:     #222;
$gray-dark:       #444;
$gray:            #888;
$gray-light:      #ccc;
$gray-lighter:    #eee;
$gray-white:      #f5f5f5;
$white:           #fff;
$black:           #000;

// sidebar

.sidebar {
  padding-top: 30px;

  a {
    border-radius: 2px 0 0 2px;
    color: $gray;

    &:hover {
      color: $brand-primary;
    }
  }

  .active {
    border: 0 $brand-primary solid;
    border-right-width: 4px;

    a {
      color: $brand-primary;
    }
  }

  &.affix-top {
    position: static;
    width: 277px;
  }

  &.affix {
    position: fixed;
    width: 277px;
  }
}

@media(max-width: 992px) {
  .left-col {
    display: none;
  }
}


// main column

.main-col {
  background-color: $white;
  border: 1px solid $gray-lighter;
  min-height: 100vh;

  h2 {
    margin-top: -55px;
    padding-top: 55px;
  }

  h3, h4 {
    color: $gray;
    font-style: italic;
    font-family: 'BrandonTextWeb-Light'
  }

  .component {
    border-radius: 2px 2px 0 0;
    border: 1px dashed rgba($gray-dark, .2);
    padding: 15px;

    + pre {
      margin-top: -1px;
      border-radius: 0 0 2px 2px;
      border-top-color: $gray-lighter;
    }
  }

  hr {
    border-color: $gray-lighter;
    border-width: 15px;
    margin-bottom: 15px;
    margin-top: 60px;
  }

  pre {
    border-radius: 2px;
    border: 1px solid rgba($gray-dark, .1);
    width: 100%;
    padding: 15px;
  }
}

td [data-toggle="markdown-readonly"] p:last-child {
  margin: 0;
}

// Overrides

.hljs {
  background: transparent;
}
