// variables

$brand-primary:   #ff5909;
$gray-darker:     #222;
$gray-dark:       #444;
$gray:            #888;
$gray-light:      #ccc;
$gray-lighter:    #eee;
$gray-white:      #f5f5f5;
$white:           #fff;
$black:           #000;

// sidebar

.sidebar {
  padding-top: 30px;

  a {
    border-radius: 2px 0 0 2px;
    color: $gray;

    &:hover {
      color: $brand-primary;
    }
  }

  .active {
    border: 0 $brand-primary solid;
    border-right-width: 4px;

    a {
      color: $brand-primary;
    }
  }

  &.affix-top {
    position: static;
    width: 277px;
  }

  &.affix {
    position: fixed;
    width: 277px;
  }
}

@media(max-width: 992px) {
  .left-col {
    display: none;
  }
}


// main column

.main-col {
  background-color: $white;
  border: 1px solid $gray-lighter;
  min-height: 100vh;

  h2 {
    margin-top: -55px;
    padding-top: 55px;
  }

  h3, h4 {
    color: $gray;
    font-style: italic;
    font-family: 'BrandonTextWeb-Light'
  }

  .component {
    border-radius: 2px 2px 0 0;
    border: 1px dashed rgba($gray-dark, .2);
    padding: 15px;

    + pre {
      margin-top: -1px;
      border-radius: 0 0 2px 2px;
      border-top-color: $gray-lighter;
    }
  }

  hr {
    border-color: $gray-lighter;
    border-width: 15px;
    margin-bottom: 15px;
    margin-top: 60px;
  }

  pre {
    border-radius: 2px;
    border: 1px solid rgba($gray-dark, .1);
    width: 100%;
    padding: 15px;
  }
}

td [data-toggle="markdown-readonly"] p:last-child {
  margin: 0;
}

.swatch {
  width: 100%;
  padding-bottom: 50%;

  &.orange { background-color: #f24725; }
  &.yellow { background-color: #f58720; }
  &.light { background-color: #d4d9df; }
  &.dark { background-color: #333b48; }
  &.darker { background-color: #253335; }
  &.greyscale {
    padding-bottom: 5%;
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(left, #ffffff, #000000);
    background-image:    -moz-linear-gradient(left, #ffffff, #000000);
    background-image:      -o-linear-gradient(left, #ffffff, #000000);
    background-image:         linear-gradient(to right, #ffffff, #000000);
  }
}

.font {
  font-size: 2em;
}
.brandon-text-bold { font-family: 'BrandonTextWeb-Bold' }
.brandon-text { font-family: 'BrandonTextWeb-Regular' }
.montserrat { font-family: 'montserrat', sans-serif; }
.open-sans { font-family: 'Open Sans', sans-serif; }

// Overrides

.hljs {
  background: transparent;
}
